<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @beach.name %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @beach.lat %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @beach.lng %>
</p>

<%= link_to 'Edit', edit_beach_path(@beach) %> |
<%= link_to 'Back', beaches_path %>
